@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ownglyph_corncorn-Rg';
}

hr {
  border: 2px solid gray;
  padding: 0%;
  margin: 0%;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  background-color: antiquewhite;
  margin: 0%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.profile_text {
  margin: 2em;
}

p {
  margin: 20px;
}

.subTitle {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.div {
  border: 1px solid gray;
  padding: 0%;
  margin-top: 50px;
}

.hobby {
  background-color: bisque;
}

.hobbyContent {
  font-size: 22px;
}

.subTitle {
  padding-top: 20px;
}

.hobbyContent {
  display: flex;
  justify-content: center;
}

.hobbyContent > div {
  margin: 1em;
}

.hobbyContent > div > p {
  text-align: center;
}
