@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ownglyph_corncorn-Rg';
}

.profile > hr {
  border: 2px solid gray;
  margin: 0%;
}

.profile > h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  background-color: antiquewhite;
  margin: 0%;
}

.profileContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 20px;
}

.profile p {
  margin: 20px;
}

.hobby > h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.hobby {
  background-color: bisque;
}

.hobby p {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.hobbyContent {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.hobbyContent > div {
  margin: 20px;
}
